html {
  scroll-behavior:smooth;
  overflow-x: hidden;
}
.App {
  /* text-align: center; */
  margin-left:4svw;
  margin-right:4svw;
  margin-top: 3rem;
  font-size: small;
  }

.Blog {
  /* text-align: center; */
  margin-left:4svw;
  margin-right:4svw;
  margin-top: 8rem;
  font-size: .9rem;
  margin-bottom: 8rem;
  /* font-weight: 400; */
  color: black;

}
.Blog p {
  margin-right: 30%;
  margin-bottom: 1rem;
}



@media screen and (max-width: 700px) {
  .Blog {
    margin-right: 4svw ;
  }
  .Blog p {
    margin-right: 0%;
  }
  
}
.Seccion2 {
  background-color: black;
  margin-left: -4svw;
  margin-right: -4svw;
}
.Span{
  padding-top:6svw;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  font-size:clamp(14px, 10vw, 8rem);
  /* margin-bottom: -20%; */
  
  /* margin-left: -4svw;
  margin-right: -4svw; */
}
.Span > h1 {
  font-family:Arial, Helvetica, sans-serif;
  color:rgb(248, 248, 248);
  color: rgba(241,240,239,255); /*exacto al fondo de sección 1 */
  /* color: rgb(198, 227, 205); */
  /* mix-blend-mode:color-dodge; */
  margin:0;
  margin-top:-9.32%;
  /* margin-top:-9.56%; el de arriba era 38 */
  margin-bottom: -0.5%;

  
}
@media screen and (max-width: 600px) {
  .Span > h1 {
    margin-top:-9.4%;
  }
}

.gif {
  border: #c2c2c2;
  border-radius: 10px;
  border-color: aliceblue;
  width: 70%;
  /* backdrop-filter: ; */
  padding-top: 20%;
  padding-bottom: 10%;
  background-image: url("./img/gif.gif"); 
  /* background-size:cover, no-repeat; */
  /* margin-left: -4svw;
  margin-right: -4svw;  */
  background-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* filter: blur(2px);
  -webkit-filter: blur(2px); */
}
@media screen and (max-width: 800px) {
  .gif {
    width: 95%;
    zoom: 50%;
  }
  
}
.fondoblur {
  overflow: hidden;
  position: relative;
  margin-top: -50%;
  margin-bottom: -10%;
  padding: 20svw;
  padding-left: 0;
  padding-right: 0;
  zoom: 150%;
  width:100%;
  background-image: url("./img/gif.gif"); 
  background-position:top;
  /* margin-left: -4svw;
  margin-right: -4svw;  */
  opacity: 10%;
  filter: blur(20px) invert() saturate(10);
  mix-blend-mode:exclusion;
  pointer-events: none;
  /* mix-blend-mode:multiply; */
}

body {
  /* background-image: url("./img/movil 2.jpeg");  */
  /* background-color: rgba(209, 204, 204, 0.592); */
  background-color: rgba(224, 219, 219, 0.432);
  /* background-size: cover; */
  font-family:'Roboto Mono', monospace;
  /* font-family: 'Helvetica Neue', sans-serif; */
  color:rgb(48, 48, 48);
}
header {
  padding-top: 0rem;
  text-align: center;
  margin-top: -2%;
  margin-bottom: -2%;
  position: sticky;
  top: 0;
}
header > div > img {
  padding-bottom: 0.3rem;
  width: 30%;
}
.Punto {
  width: 1svw;
  margin-bottom: -2.5svw;
}

button {
  font-size: 1rem;
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  /* border-radius: 4px; */
  /* background-color: #555; */
  background:none;
  color: #c2c2c2;
  cursor: pointer;
  font-family: 'Roboto Mono';
  font-weight: 400;
}

a:link, a:visited {
  /* color: rgb(90, 92, 90); */
  color: rgb(48, 48, 48);
  text-decoration: underline;
  font-weight: bold;
}

a:link:active, a:visited:active {
  color: rgb(239, 145, 236);
}







/*sonido*/

.Sound {
  /* transition: background-color 0.5s ease; */
  transition: background-color 0.5s ease;
    
    /* -moz-transition: background-image 2s ease-in-out;
    -webkit-transition: background-image 2s ease-in-out;
    -o-transition: background-image 2s ease-in-out;
    transition: background-image 2s ease-in-out; */
  
}
.Sound.playing {

  background-color: white; /*Cambia el color de fondo a blanco cuando está sonando*/
  background-image: url("./img/gradiente.gif");
  opacity: 100%;
  
  background-repeat: no-repeat;
  background-position:top;
  background-position-x: 100svw;
  /* background-position-y: -50svw; */
  background-size: contain;
  /* background: 60%; */
  
  mix-blend-mode:luminosity;
  filter:blur(1px) brightness(1);
  /* width: 300%; */
  /* display:flow-root; */
  margin-right: -4svw;
  margin-left: -4svw;
  margin-top: -100svw;
  margin-bottom: -3000svw;
  padding:100svw;

  overflow: visible;
  text-align:center;
  object-fit: contain;

  
}

/* @media screen and (max-width: 800px) {
  .Sound.playing {
    zoom: 300%;
  }
}
   */



/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

